<div class="register-container mat-elevation-z8">
    <img src="../../../assets/imgs/fts_logo.png" alt="logo">
    <h1>Créez votre compte</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Nom Complet</mat-label>
            <input matInput type="text" formControlName="fullname" required>
            <mat-error *ngIf="fullname?.invalid">ce champs est obligatoir.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error *ngIf="email?.invalid">Veuillez entrer une adresse e-mail valide.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password?.invalid">Veuillez entrer un mot de passe valide (min 8 caractères).</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
    </form>
</div>
